@model Immo_App.Core.Models.RentalContract.DetailRentalContractViewModel
@{
	ViewData["Title"] = "Détails contrat de location";
}

<style>
	.rental-info > div {
		flex-basis: 33.333333%;
	}

	.crud-tables > div {
		flex-basis: 50%;
	}
</style>

<div class="d-flex justify-content-between">
	<h1 class="mb-4">Contrat de location N°@Model.id</h1>
	<span>
		@if (Model.rental_status == "En cours" && Model.inventory_fixtures.Any(i => i.type == "Sortie"))
		{
			<button type="button" class="btn btn-primary float-end" 
				onclick="return confirm('Êtes-vous sûr de vouloir clôturer le contrat ?  (Ceci n\'est pas réversible)') ? 
				location.href='@Url.Action("EndContract", "RentalContracts", new {Model.id})' : '';"
			>
				Clôre le contrat
			</button>
		} 
		else if (Model.rental_status == "Clôturé")
		{
			<button type="button" class="btn btn-primary float-end" 
				onclick="location.href='@Url.Action("BalanceSheet", "RentalContracts", new {Model.id})'"
			>
				Générer bilan des comptes
			</button>
		}
	</span>
</div>

<div class="d-flex flex-wrap mb-5 rental-info">
	<div>
		<h3>Locataire</h3>
		<p>@Model.tenant_name - @Model.tenant_email</p>
	</div>

	<div>
		<h3>Apartement</h3>
		<p>@Model.apartment_address</p>
	</div>

	<div>
		<h3>Statut de la location</h3>
		<p>@Model.rental_status</p>
	</div>

	<div>
		<h3>Statut du dépôt de garantie</h3>
		<p>@Model.security_deposit_status</p>
	</div>

	<div>
		<h3>Prix du dépôt de garantie</h3>
		<p>@string.Format("{0:0.00}", Model.security_deposit_price)€</p>
	</div>

	<div>
		<h4>Solde du locataire</h4>
		<p>@string.Format("{0:0.00}", Model.tenant_balance)€</p>
	</div>

	<div>
		<h4>Prix des charges</h4>
		<p>@string.Format("{0:0.00}", Model.charges_price)€</p>
	</div>

	<div>
		<h4>Prix du loyer</h4>
		<p>@string.Format("{0:0.00}", Model.rent_price * 0.92)€</p>
	</div>

	<div>
		<h4>Frais d'agence</h4>
		<p>@string.Format("{0:0.00}", Model.rent_price * 0.08)€</p>
	</div>
</div>

<div class="d-flex flex-wrap crud-tables">
	<div class="pe-5">
		<div class="d-flex justify-content-between">
			<h2 class="mb-4">États des lieux</h2>
			@if(Model.rental_active == true)
			{
				<span>
					<button type="button" class="btn btn-primary float-end" onclick="location.href='../../inventoryFixtures/Add/@Model.id'">Ajouter état des lieux</button>
				</span>
			}
		</div>
		
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Type</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var inventoryFixture in Model.inventory_fixtures)
				{
					<tr>
						<td>@inventoryFixture.id</td>
						<td>@inventoryFixture.date_inv.ToString("dd/MM/yyyy")</td>
						<td>@inventoryFixture.type</td>
						<td><a href="../../inventoryFixtures/Notes/@inventoryFixture.id">Notes</a></td>
						<td><a href="../../inventoryFixtures/Edit/@inventoryFixture.id">M</a></td>
						<td><a href="../../inventoryFixtures/Delete/@inventoryFixture.id" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?');">S</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="pe-5">
		<div class="d-flex justify-content-between">
			<h2 class="mb-4">Factures</h2>
			@if (Model.rental_active == true)
			{
				<span>
					<button type="button" class="btn btn-primary float-end" onclick="location.href='../../invoices/Add/@Model.id'">Ajouter facture</button>
				</span>
			}
		</div>
		
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Montant</th>
					<th>Type</th>
					<th>Statut</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var invoice in Model.invoices)
				{
					<tr>
						<td>@invoice.id</td>
						<td>@invoice.date_invoice.ToString("dd/MM/yyyy")</td>
						<td>@string.Format("{0:0.00}", invoice.amount)€</td>
						<td>@invoice.type</td>
						<td>@invoice.status</td>
						<td>
							@if (invoice.status == "Payée" && invoice.type != "Dépôt de garantie")
							{
								<a href="../../invoices/RentReceipt/@invoice.id">G</a>
							}
						</td>
						<td><a href="../../invoices/Edit/@invoice.id">M</a></td>
						<td><a href="../../invoices/Delete/@invoice.id" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?');">S</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="pe-5">
		<div class="d-flex justify-content-between">
			<h2 class="mb-4">Paiements</h2>
			<span>
				<button type="button" class="btn btn-primary float-end" onclick="location.href='../../payments/Add/@Model.id'">Ajouter paiement</button>
			</span>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Montant</th>
					<th>Origine</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var payment in Model.payments)
				{
					<tr>
						<td>@payment.id</td>
						<td>@payment.date_payment.ToString("dd/MM/yyyy")</td>
						<td>@string.Format("{0:0.00}", payment.amount)€</td>
						<td>@payment.origin</td>
						<td><a href="../../payments/Edit/@payment.id">M</a></td>
						<td><a href="../../payments/Delete/@payment.id" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?');">S</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>