@model List<Immo_App.Core.Models.Tenant.Tenant>

@{
}

<h1>Locataires</h1>

<button type="button" class="btn btn-primary float-end" onclick="location.href='@Url.Action("Add", "Tenants")'">Ajouter Locataire</button>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Civilité</th>
			<th>Prénom</th>
			<th>Nom de famille</th>
			<th>E-mail</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var tenant in Model)
		{
			<tr>
				<td>@tenant.id</td>
				<td>@tenant.civility</td>
				<td>@tenant.first_name</td>
				<td>@tenant.last_name</td>
				<td>@tenant.email</td>
				<td><a href="Tenants/Edit/@tenant.id">Modifier</a></td>
			</tr>
		}
	</tbody>
</table>